.loginimg {
    background-image: url("../img/fotoInsti.jpg");
    background-size: cover;
}

.textoBoton {
    font-size: 1rem !important;
}

.visible2323 {
    display: inline !important;
}

.error{
    color: red !important;
    font-style: italic !important;
    font-size: 1rem !important;
}
